{% extends "stockmanager/base.html" %}
{% block content %}
    <div class="container">user: {{ user }}</div>
    <br/>
    {% for stock in stocks %}
        <div class="container"><button class="btn btn-info btn-block"><h4>{{ stock.stockName }} &nbsp;&nbsp;&nbsp;{{ stock.stockTicker }}  &nbsp;&nbsp;&nbsp;  ${{stock.stockPrice}}</h4></button></div>
        <br/>
    {% endfor %}
    <h4><div class="container"><div class="row"><div class="col-sm">   Stock Name: </div>   <div class="col-sm"> Stock Ticker: </div>   <div class="col-sm"> Stock Price:</div> <div class="col-sm"> Security Score: </div>  </div></div></h4>
    {% for item1, item2, item3, item4 in stocktable %}
        <div class="container"><div class="row"> <div class="col-sm"> {{item1 }}  </div>  <div class="col-sm">  &nbsp; {{item2}} </div>  <div class="col-sm"> {{ item3 }} &nbsp; </div>  <div class="col-sm"> {{ item4 }} </div>  </div></div>
        <br/>
    {% endfor %}
{% endblock content %}
